body {
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 15px;
}

.shortcuts {
  width: 30.5%;
  background-color: lightgrey;
  padding: 0 16px;
  font-family: helvetica;
  margin-left: 16px;
  position: fixed;
  top: 16px;
}

.page {
  width: 64.8%;
  min-height: 1320px;
  height: auto;
  margin: 16px 0;
  padding-bottom: 60px;
  border: 1px solid lightgrey;
  position: relative;
  right: 16px;
  float: right;
}

.script-container {
  width: 100%;
}

p, textarea, div {
  height: auto;
  margin: 0 auto;
  display: block;
}

textarea {
  resize: none;
}

.title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 80px auto;
}

.slug, .character {
  text-transform: uppercase;
}

.character, .paren {
  width: 100%;
  text-align: center;
}

.slug, .action, .sl {
  width: 80%;
}

.dialog {
  width: 50%;
}

.lines {
  width: 80%;
}

#revert, #print {
  display: none;
}
